<h1>Listing users</h1>

<%= button_to 'Add', new_user_path, method: :get%>

<table>
  <tr>
    <th><%= sort_link @search, :firstname, "Name" %></th>
    <th><%= sort_link @search, :surname, "Surname" %></th>
    <th><%= sort_link @search, :email, "Email" %></th>
    <th><%= sort_link @search, :password, "Password" %></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td class="dane"><%= user.firstname %></td>
      <td class="dane"><%= user.surname %></td>
      <td class="dane"><%= user.email %></td>
      <td class="dane"><%= user.password %></td>
      <td>
        <table class="links">
          <tr>
            <%= link_to 'Edit', edit_user_path(user), method: :get%>
            <br>
            <%= link_to 'Destroy', user_path(user),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
          </tr>
        </table>
  <% end %>
</table>